@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Mono:wght@400;700&display=swap');


@media screen {

/*****************************************************
TYPOGRAPHY
*****************************************************/

html, body {
  font-family: 'Lora', sans-serif;
  font-size: 1.1rem; /* 16px is base font size, so this makes it a little bigger for academic eyes */
  line-height: 1.4em;
}

/* base font settings */
h1, h2, h3, h4, h5 {
  font-family: 'Source Sans 3', sans-serif;
  text-align: left;
}

h1 {
  font-size: 2.8rem;
  margin-top: 2rem;
  margin-bottom: .5rem;
}

h2 {
  font-size: 2.2rem;
  margin-top: 2rem;
  margin-bottom: .5rem;
}

h3 {
  font-size: 1.7rem;
  margin-top: 2rem;
  margin-bottom: .5rem;
}

h4 {
  font-size: 1.3rem;
  margin-top: 1.5rem;
  margin-bottom: 0.8rem;
}

h5 {
  font-size: 1rem;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  text-transform: uppercase;
}

hr {
  display: block;
  height: 0;
  margin: 2rem 0rem;
  clear: both;
  border: 3px solid #333;
}

p {
  line-height: 1.6em;
  margin-bottom: 1.5em;
  text-align: justify;
}

a {
  color: var(--text-link);
  text-decoration: none;
  border-bottom: var(--text-link);
}

a:visited {
 color: var(--text-link);
 border-bottom: var(--text-link);
}

a:hover {
  text-decoration: none;
}

.map-card {
  margin-top: .5rem;
  text-align: justify;
  font-family: 'Source Sans 3', sans-serif;
  font-weight: normal;
  font-size: .9rem;
  line-height: 1.2rem;
  color: var(--text-primary);
}

.container li {
  margin-bottom: .5rem;
  font-family: 'Source Sans 3', sans-serif;
  font-size: 1.1rem;
  line-height: 1.4rem;
}

/*****************************************************
CODE BLOCKS
*****************************************************/

.highlight {
  background: var(--lichen);
  border-radius: 8px;
  padding: .5rem;
  box-shadow: 0 2px 8px rgba(0,0,0,0.04);
  overflow-x: auto;
  margin: 1rem 0;
}

.highlight pre {
  padding: 0;
  margin: 0;
  font-family: 'Fira Mono', 'Consolas', 'Menlo', monospace;
  font-size: .9em;
  color: #333;
}


/*****************************************************
FOOTNOTE STYLING
*****************************************************/

.littlefoot__button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 1rem;
  height: 1rem;
  padding: 0;

  font-family: 'Source Sans 3', sans-serif;
  font-size: 0.8rem;
  text-decoration: none;
  color: #fff;
  
  background: var(--cedar);
  opacity: .6;
  border: none;
  border-radius: 50%;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.08);
  
  cursor: pointer;
  transition: background 0.2s;
}

.littlefoot__button:hover,
.littlefoot__button:focus {
  background: #333;
  color: #fff;
  outline: none;
}



/*****************************************************
BLOCKQUOTE
*****************************************************/

blockquote {
  border-left: 4px solid darkgrey;
  max-width: 80%;
  margin: 1rem auto;
  padding: 0.5rem .5rem;
  font-size: 120%;
  font-style: italic;
  quotes: "“" "”" "‘" "’";
}



/*****************************************************
PULLQUOTES
*****************************************************/

.pullquote {
  border-top: 6px solid #005999;
  border-bottom: 6px solid #005999;
  color: #486B76;
  margin: 1em auto;
  padding: 1em;
}


.pullquote p {
  font-family: 'Source Sans 3', sans-serif;
  font-size: 1.4rem;
  line-height: 1.4rem;
  text-align: justify;
}


} /* end regular styles */


/* tablet styles */
@media screen and (min-width: 34em) {
  .pullquote {
    float: left;
    width: 50%;
    padding: 1.2em 0 1.2em 0;
    margin: .8em 2em .8em 0;
  }
}


/* desktop styles */
@media screen and (min-width: 1280px) {
  .pullquote {
    margin-left: -10%;
  }

  aside.right {
    margin-left: 0;
    left: 0;
    width: 100%;
  }

  aside p {
    margin: 0;
  }

}



/*****************************************************************************/
/*
/* SMALL SCREEN
/*
/*****************************************************************************/

@media (max-width: 768px) {

  aside {
    position:relative;
    width:100%;
    padding: .4em;
    border:1px solid #ccc;
    background:#fefefe;
    margin-bottom:1em;
  }

  aside.aside-right {
    margin-left:0;
    left:0;
    width:100%;
  }

  aside p{
    margin:0;
  }
}
